@font-face {
    font-family: Sofia-sans;
    src: url("../fonts/SofiaSans-VariableFont_wght.ttf");
}

:root {
    --color-primary: #2d3e50;
    --color-secondary: #1f8dd6;
    --color-secondary-light: #6fbdf2;
    --color-success: #00bd9b;
    --color-warning: #f39b00;
    --color-danger: #f33a00;

    --text-small: .9rem;
    --text-large: 1.1rem;
    --text-larger: 1.2rem;
    --text-huge: 1.5rem;
}

* {
    box-sizing: border-box;
}

a {
    color: var(--color-secondary);
    text-decoration: none;
}

a:hover {
    text-decoration: dotted underline;
}

body {
    font-family: Sofia-sans, Sans-serif;
    margin: 0;
    padding: 0;
}

button, input {
    margin: .5rem;
    padding: .25rem;
}

button {
    background-color: var(--color-primary);
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: inherit;
    padding: .25rem 1rem;
}

button:hover {
    background-color: var(--color-secondary);
}

button[disabled] {
    cursor: auto;
    background-color: var(--color-secondary-light);
}

h2 {
    color: var(--color-primary);
    font-weight: normal;
    padding: 1rem;
    text-align: center;
}

header {
    background-color: var(--color-primary);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: .8rem 1rem;
}

p {
    margin: 0;
}


ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

footer {
    background-color: #222;
    color: #AAA;
    font-size: var(--text-small);
    padding: 2rem;
    text-align: center;
}

svg {
    fill: currentColor;
    width: 1em;
    vertical-align: top;
}
